# OTHER REPOSITORY ON GIT
drivers/
races/
teams/

# JUST FOR WORKING
script/
node_modules/
*.config.js
package.json
package-lock.json
notes.txt

# DEFAULT
.htaccess

# AUTO-GENERATE BY OTHER SCRIPT
changelog.json
sitemap.xml

# AUTO-GENERATE BY MOTORSPORTDB
cards.json